<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>
			img\
		</param-value>
	</context-param>
	<servlet>
		<servlet-name>ListarMascotasController</servlet-name>
		<display-name>ListarMascotasController</display-name>
		<description></description>
		<servlet-class>mascotinder.controladores.ListarMascotasController</servlet-class>

	</servlet>
	<servlet>
		<servlet-name>IngresarSistemaController</servlet-name>
		<display-name>IngresarSistemaController</display-name>
		<description></description>
		<servlet-class>mascotinder.controladores.IngresarSistemaController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertarMascotaController</servlet-name>
		<display-name>InsertarMascotaController</display-name>
		<description></description>
		<servlet-class>mascotinder.controladores.InsertarMascotaController</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>BuscarParejaController</servlet-name>
		<display-name>BuscarParejaController</display-name>
		<description></description>
		<servlet-class>mascotinder.controladores.BuscarParejaController</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>EstablecerPreferenciasController</servlet-name>
		<display-name>EstablecerPreferenciasController</display-name>
		<description></description>
		<servlet-class>mascotinder.controladores.EstablecerPreferenciasController</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>SalirController</servlet-name>
		<display-name>SalirController</display-name>
		<description></description>
		<servlet-class>mascotinder.controladores.SalirController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerCatalogoController</servlet-name>
		<display-name>VerCatalogoController</display-name>
		<description></description>
		<servlet-class>mascotinder.controladores.VerCatalogoController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MeGustaController</servlet-name>
		<display-name>MeGustaController</display-name>
		<description></description>
		<servlet-class>mascotinder.controladores.MeGustaController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NoMeGustaController</servlet-name>
		<display-name>NoMeGustaController</display-name>
		<description></description>
		<servlet-class>mascotinder.controladores.NoMeGustaController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MatchController</servlet-name>
		<display-name>MatchController</display-name>
		<description></description>
		<servlet-class>mascotinder.controladores.MatchController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChatController</servlet-name>
		<display-name>ChatController</display-name>
		<description></description>
		<servlet-class>mascotinder.controladores.ChatController</servlet-class>
	</servlet>	
	
	
	<servlet-mapping>
		<servlet-name>ListarMascotasController</servlet-name>
		<url-pattern>/ListarMascotasController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IngresarSistemaController</servlet-name>
		<url-pattern>/IngresarSistemaController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertarMascotaController</servlet-name>
		<url-pattern>/InsertarMascotaController</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>BuscarParejaController</servlet-name>
		<url-pattern>/BuscarParejaController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EstablecerPreferenciasController</servlet-name>
		<url-pattern>/EstablecerPreferenciasController</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>SalirController</servlet-name>
		<url-pattern>/SalirController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerCatalogoController</servlet-name>
		<url-pattern>/VerCatalogoController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MeGustaController</servlet-name>
		<url-pattern>/MeGustaController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoMeGustaController</servlet-name>
		<url-pattern>/NoMeGustaController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MatchController</servlet-name>
		<url-pattern>/MatchController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatController</servlet-name>
		<url-pattern>/ChatController</url-pattern>
	</servlet-mapping>	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
